rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /partners/{document=**} {
      allow read: if false;
      allow create: if request.auth == null || request.auth != null;
      allow update, delete: if false;
    }
    match /analyses/{document=**} {
      allow read: if false;
      allow create: if request.auth == null || request.auth != null;
      allow update, delete: if false;
    }
  }
}
